.garage-vehicles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
    /*repeat(2, 1fr);*/
    grid-gap: 2vh;
    padding: 2vh;
    max-height: 60vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
    overflow-x: hidden;
    overflow-y: scroll;
    div {
        margin: 0 !important;
        display: grid;
        grid-template-areas: "image title" "image description";
        transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.15s linear;
        padding: 10px;
        grid-template-columns: 0fr 1fr;
        &.selected {
            background: #aab7c4;
        }
        &:active {
            background: #aab7c4;
        }
        img {
            width: 3vw;
            grid-area: image;
            align-self: center;
        }
        h5 {
            grid-area: title;
            margin: 0;
            font-size: 1.2vw;
            font-weight: normal;
            color: #FFF;
            color: #212121;
            align-self: end;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            grid-area: description;
            font-size: 1.0vw;
            font-weight: 300;
            color: #FFF;
            color: #757575;
            align-self: start;
        }
    }
}