/*
  ======================================================================================================================
  ======================================================================================================================
  ===============      ____  ___   ____ __   __ ____   ___  ____  _   _  _____   =======================================
  ===============    / ___|/ _ \ |  _ \\ \ / /|  _ \ |_ _|/ ___|| | | ||_   _|   =======================================
  ===============   | |   | | | || |_) |\ V / | |_) | | || |  _ | |_| |  | |     =======================================
  ===============   | |___| |_| ||  __/  | |  |  _ <  | || |_| ||  _  |  | |     =======================================
  ===============   \____|\___/ |_|     |_|  |_| \_\|___|\____||_| |_|  |_|      =======================================
  ===============     ____ __     __ __  __  ____                                =======================================
  ===============    / ___|\ \   / /|  \/  ||  _ \                               =======================================
  ===============   | |  _  \ \ / / | |\/| || |_) |                              =======================================
  ===============   | |_| |  \ V /  | |  | ||  __/                               =======================================
  ===============   \____|   \_/   |_|  |_||_|                                   =======================================
  ===============                                                                =======================================
  ======================================================================================================================
  ======================================================================================================================
  ===============  @package: gvmp SASS colors                                    =======================================
  ===============  @author: codingfox.de (info@codingfox.de)                     =======================================
  ===============  @author: enrico-kirsch.de                                     =======================================
  ===============  @since: Dec 2019                                              =======================================
  ===============  @version: 1.0                                                 =======================================
  ======================================================================================================================
  ======================================================================================================================
 */

//========== ALLGEMEINER STUFF =========================================================================================

/*
  Cursor Pointer
  Zeigt einen Pointer statt der normalen Maus
 */
.cp {
  cursor: pointer;
}

/*
  text-center
  Zentriert einen Text horizontal
 */
.text-center {
  text-align: center;
}


//========== ALIGNMENT / AUSRICHTUNG ===================================================================================
.float-right {
  float: right;
}

.float-left {
  float: left;
}