/*
  ======================================================================================================================
  ======================================================================================================================
  ===============      ____  ___   ____ __   __ ____   ___  ____  _   _  _____   =======================================
  ===============    / ___|/ _ \ |  _ \\ \ / /|  _ \ |_ _|/ ___|| | | ||_   _|   =======================================
  ===============   | |   | | | || |_) |\ V / | |_) | | || |  _ | |_| |  | |     =======================================
  ===============   | |___| |_| ||  __/  | |  |  _ <  | || |_| ||  _  |  | |     =======================================
  ===============   \____|\___/ |_|     |_|  |_| \_\|___|\____||_| |_|  |_|      =======================================
  ===============     ____ __     __ __  __  ____                                =======================================
  ===============    / ___|\ \   / /|  \/  ||  _ \                               =======================================
  ===============   | |  _  \ \ / / | |\/| || |_) |                              =======================================
  ===============   | |_| |  \ V /  | |  | ||  __/                               =======================================
  ===============   \____|   \_/   |_|  |_||_|                                   =======================================
  ===============                                                                =======================================
  ======================================================================================================================
  ======================================================================================================================
  ===============  @package: gvmp SASS colors                                    =======================================
  ===============  @author: codingfox.de (info@codingfox.de)                     =======================================
  ===============  @author: enrico-kirsch.de                                     =======================================
  ===============  @since: Dec 2019                                              =======================================
  ===============  @version: 1.0                                                 =======================================
  ======================================================================================================================
  ======================================================================================================================
 */

//======================================================================================================================
//========= General ====================================================================================================
//=== Black ============================================================================================================
$black: #000000;
$black-500: #080808;
$black-400: #101010;
$black-300: #181818;
$black-200: #202020;
$black-100: #282828;
//=== Grey =============================================================================================================
$grey-900: #303030;
$grey-800: #383838;
$grey-700: #404040;
$grey-600: #484848;
$grey-500: #505050;
$grey-400: #585858;
$grey-300: #606060;
$grey-200: #686868;
$grey-100: #696969;
$grey-75: #707070;
$grey-50: #787878;
$grey-25: #808080;
//=== White ============================================================================================================
$white: #FFFFFF;
$white-500: #E8E8E8;
$white-400: #F0F0F0;
$white-300: #F5F5F5;
$white-200: #F8F8F8;
$white-100: #F2F2F2;
//=== Custom ===========================================================================================================
$custom-grey-1: #CCCCCC;
//======================================================================================================================
//========= END General ================================================================================================
//======================================================================================================================
//======================================================================================================================

//======================================================================================================================
//========= GVMP BRANDING ==============================================================================================
$gvmp-main-orange: #ff8000;
$gvmp-orange: #FA8100;
$gvmp-red: #FF0000;
$gvmp-green: #008000;
$gvmp-dark: #151515;

//========= WINDOWS ====================================================================================================
$window-light-outside: #ECECEC;
$window-light-inner: #D6D6D6;
$window-dark-outside: #282C34;
$window-dark-inside: #2C3139;