/*CROSSHAIR START*/

$dotSize: 0.55vh;
$dotColor: rgba(227, 227, 227, .5);
.crosshairContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  * {
    box-sizing: initial;
  }
  .crosshair {
    opacity: 1;
    width: $dotSize;
    height: $dotSize;
    border-style: solid;
    border-color: $dotColor;
    border-width: $dotSize $dotSize 0px 0px;
    position: absolute;
    transition: border-color 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55), transform .6s cubic-bezier(1.000, 0.000, 0.215, 1.000);
    &.topRight {
      transform: translate(50%, -150%);
    }
    &.topLeft {
      transform: translate(-150%, -150%);
      border-width: $dotSize 0px 0px $dotSize;
    }
    &.bottomRight {
      transform: translate(50%, 50%);
      border-width: 0px $dotSize $dotSize 0px;
    }
    &.bottomLeft {
      border-width: 0px 0px $dotSize $dotSize;
      transform: translate(-150%, 50%);
    }
  }
  .dot,
  .circle {
    height: $dotSize;
    width: $dotSize;
    background-color: $dotColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity .2s ease .4s;
    opacity: 1;
  }
  .circle {
    border-radius: 100%;
  }
  &.active {
    .dot {
      background-color: #8bc34a;
    }
    .crosshair {
      border-color: #8bc34a;
    }
  }
  &.invisible {
    .dot {
      opacity: 0;
    }
    .topRight {
      transform: translate(calc(33vw - #{$dotSize}), calc(-33vh - #{$dotSize}));
    }
    .topLeft {
      transform: translate(calc(-33vw - #{$dotSize}), calc(-33vh - #{$dotSize}));
    }
    .bottomRight {
      transform: translate(calc(33vw - #{$dotSize}), calc(33vh - #{$dotSize}));
    }
    .bottomLeft {
      transform: translate(calc(-33vw - #{$dotSize}), calc(33vh - #{$dotSize}));
    }
  }
}

/*CROSSHAIR END*/

/*PANEL START*/

.panel {
  display: grid;
  grid-auto-flow: column dense;
  grid-gap: 0 0.5vw;
  margin-bottom: 1vw;
  height: 5vh;
  background-color: rgba(158, 158, 158, .5);
  transform: scale(1);
  transition: transform 0.6s cubic-bezier(1.000, 0.000, 0.215, 1.000);
  /*rgba(96, 125, 139, .5);*/
  /*transition: all .6s cubic-bezier(1.000, 0.000, 0.215, 1.000); Most likely supported in chrome 70 for grid layout*/
  .indicator {
    width: 0.5vw;
    height: 5vh;
  }
  * {
    box-sizing: initial;
  }
  &.hidden_secondary {
    display: none;
  }
  &.hidden {
    display: none;
  }
  &.invisible {
    transform: scale(0);
    display: none;
    opacity: 0;
  }
  &.visible {
    animation: panelVisible .3s ease-in-out;
  }
  div {
    display: grid;
    grid-template-areas: "title image";
    align-items: center;
    padding-right: 0.5vw;
    span {
      grid-area: title;
      color: #FFF;
      font-size: 1vw;
      opacity: .75;
      margin-right: 0.5vw;
    }
    svg,
    img {
      width: 3.6vh;
      /*3 + 2* border-width from image (0.3)*/
      height: 3.6vh;
      grid-area: image;
      opacity: .95;
      &.hidden {
        display: none;
      }
      path {
        &.hidden {
          display: none;
        }
      }
    }
  }
  div:not(:last-child):not([style="display: none"]) {
    border-right: 0.15vw solid rgba(224, 224, 224, .5);
  }
  &.help {
    div {
      span {
        border: 0.3vh solid #FFF;
        border-radius: 20%;
        width: 3vh;
        height: 3vh;
        text-align: center;
        line-height: 3vh;
      }
    }
    .indicator {
      background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    }
  }
  &.taxometer {
    bottom: 7vh;
    left: 20vw;
    right: initial;
    .indicator {
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
  }
  &.player {
    height: initial;
    width: initial;
    grid-auto-flow: row dense;
    background-color: initial;
    div {
      justify-content: end;
      grid-gap: 0;
      span {
        opacity: 1;
        font-size: 3vh;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }
      &.aduty {
        transform: scale(0);
        transition: transform 0.6s cubic-bezier(1.000, 0.000, 0.215, 1.000);
        &.visible {
          transform: scale(1);
        }
        span {
          color: $red-500;
        }
      }
      &.wanteds {
        grid-template-areas: inherit;
        grid-auto-flow: column dense;
        img {
          grid-area: inherit;
        }
      }
    }
    div:not(:last-child) {
      border-right: none;
      padding-right: initial;
    }
  }
  &.car {
    .indicator {
      background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
    }
  }
}

@keyframes panelVisible {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: grid;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*PANEL END*/

/*CIRCLE_MENU START*/

.circleMenu div div {
	background-color: #040a0a;
	border-color: #040a0a;
	border-style: solid;
	border-radius: 200px;
	position: absolute;
	overflow: hidden;
	opacity: .5
}

.circleMenu div div img {
	width: 100%;
	height: 100%;
	opacity: inherit
}

.circleMenu div div.active {
	border-color: #98fb98;
	opacity: 1
}

.circleMenu #circleMenuDescription,
.circleMenu #circleMenuLabel,
.circleMenu .circleMenuDescription,
.circleMenu .circleMenuLabel {
	position: absolute;
	text-align: center;
	width: 350px;
	height: 50px;
	color: #fff;
	font-family: Arial Narrow;
	text-shadow: 2px -2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px -2px 0 #000, -2px 0 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 0 2px 0 #000;
	-webkit-touch-callout: none;
	user-select: none;
	transform: scaleX(.7)
}

body {
  transition: opacity 0.5s linear, background-color 0.5s linear;
  &.menu-backdrop {
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: 0.3;
    background-color: #152732;
  }
}



.gvmp-m-1 {
	margin: .5rem!important
}

.gvmp-m-2 {
	margin: .75rem!important
}

.gvmp-m-3 {
	margin: 1rem!important
}

.gvmp-mx-1 {
	margin-left: .5rem!important;
	margin-right: .5rem!important
}

.gvmp-mx-2 {
	margin-left: .75rem!important;
	margin-right: .75rem!important
}

.gvmp-mx-3 {
	margin-left: 1rem!important;
	margin-right: 1rem!important
}

.gvmp-my-1 {
	margin-top: .5rem!important;
	margin-bottom: .5rem!important
}

.gvmp-my-2 {
	margin-top: .75rem!important;
	margin-bottom: .75rem!important
}

.gvmp-my-3 {
	margin-top: 1rem!important;
	margin-bottom: 1rem!important
}

.gvmp-mt-1 {
	margin-top: .5rem!important
}

.gvmp-mt-2 {
	margin-top: .75rem!important
}

.gvmp-mt-3 {
	margin-top: 1rem!important
}

.gvmp-mb-1 {
	margin-bottom: .5rem!important
}

.gvmp-mb-2 {
	margin-bottom: .75rem!important
}

.gvmp-mb-3 {
	margin-bottom: 1rem!important
}

.gvmp-mr-1 {
	margin-right: .5rem!important
}

.gvmp-mr-2 {
	margin-right: .75rem!important
}

.gvmp-mr-3 {
	margin-right: 1rem!important
}

.gvmp-ml-1 {
	margin-left: .5rem!important
}

.gvmp-ml-2 {
	margin-left: .75rem!important
}

.gvmp-ml-3 {
	margin-left: 1rem!important
}

.gvmp-p-1 {
	padding: .5rem!important
}

.gvmp-p-2 {
	padding: .75rem!important
}

.gvmp-p-3 {
	padding: 1rem!important
}

.gvmp-px-1 {
	padding-left: .5rem!important;
	padding-right: .5rem!important
}

.gvmp-px-2 {
	padding-left: .75rem!important;
	padding-right: .75rem!important
}

.gvmp-px-3 {
	padding-left: 1rem!important;
	padding-right: 1rem!important
}

.gvmp-py-1 {
	padding-top: .5rem!important;
	padding-bottom: .5rem!important
}

.gvmp-py-2 {
	padding-top: .75rem!important;
	padding-bottom: .75rem!important
}

.gvmp-py-3 {
	padding-top: 1rem!important;
	padding-bottom: 1rem!important
}

.gvmp-pt-1 {
	padding-top: .5rem!important
}

.gvmp-pt-2 {
	padding-top: .75rem!important
}

.gvmp-pt-3 {
	padding-top: 1rem!important
}

.gvmp-pb-1 {
	padding-bottom: .5rem!important
}

.gvmp-pb-2 {
	padding-bottom: .75rem!important
}

.gvmp-pb-3 {
	padding-bottom: 1rem!important
}

.gvmp-pr-1 {
	padding-right: .5rem!important
}

.gvmp-pr-2 {
	padding-right: .75rem!important
}

.gvmp-pr-3 {
	padding-right: 1rem!important
}

.gvmp-pl-1 {
	padding-left: .5rem!important
}

.gvmp-pl-2 {
	padding-left: .75rem!important
}

.gvmp-pl-3 {
	padding-left: 1rem!important
}

.gvmp-btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: center;
	user-select: none;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	line-height: 1.5;
	color: #fff;
	box-shadow: inset 0 0 0 .02rem hsla(0, 0%, 43.9%, .8);
	background: rgba(0, 0, 0, .5);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.gvmp-btn.active,
.gvmp-btn:hover {
	background-color: rgba(0, 0, 0, .9);
	cursor: pointer
}

.gvmp-btn-green {
	border: 1px solid #003c00
}

.gvmp-btn-green.active,
.gvmp-btn-green:hover {
	background-color: #003c00;
	cursor: pointer
}

.gvmp-btn-red {
	border: 1px solid #3c0002
}

.gvmp-btn-red.active,
.gvmp-btn-red:hover {
	background-color: #3c0000;
	cursor: pointer
}

.gvmp-btn-block {
	width: 100%
}

.gvmp-btn-grow:hover {
	transition: all .2s ease-in-out;
	transform: scale(1.05)
}

.gvmp-btn-sm {
	padding: .25rem .5rem;
	font-size: .875rem
}

.gvmp-btn-sm,
.gvmp-btn-xs {
	line-height: 1.5;
	border-radius: .2rem
}

.gvmp-btn-xs {
	padding: .15rem .3rem;
	font-size: .775rem
}

.gvmp-h1,
.gvmp-h2,
.gvmp-h3,
.gvmp-h4,
.gvmp-h5,
.gvmp-h6 {
	margin: 0!important;
	line-height: 1.2;
	font-weight: 500
}

.gvmp-h1 {
	font-size: 2.5rem
}

.gvmp-h2 {
	font-size: 2rem
}

.gvmp-h3 {
	font-size: 1.75rem
}

.gvmp-h4 {
	font-size: 1.5rem
}

.gvmp-h5 {
	font-size: 1.25rem
}

.gvmp-h6 {
	font-size: 1rem
}

.gvmp-font-weight-normal {
	font-weight: 400
}

.gvmp-wrapper {
	color: #fff;
	font-family: Oswald, sans-serif;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-size: cover;
	font-size: 1rem;
	animation: fade-in .5s;
	z-index: 99999
}

.gvmp-wrapper ::-webkit-scrollbar {
	width: 2px;
	height: 2px
}

.gvmp-wrapper ::-webkit-scrollbar-button {
	width: 0;
	height: 0
}

.gvmp-wrapper ::-webkit-scrollbar-thumb {
	background: #e1e1e1;
	border: 0 none #fff;
	border-radius: 50px
}

.gvmp-wrapper ::-webkit-scrollbar-thumb:hover {
	background: #fff
}

.gvmp-wrapper ::-webkit-scrollbar-thumb:active {
	background: #000
}

.gvmp-wrapper ::-webkit-scrollbar-track {
	background: #666;
	border: 0 none #fff;
	border-radius: 50px
}

.gvmp-wrapper ::-webkit-scrollbar-track:hover {
	background: #666
}

.gvmp-wrapper ::-webkit-scrollbar-track:active {
	background: #333
}

.gvmp-wrapper ::-webkit-scrollbar-corner {
	background: transparent
}

.gvmp-hr {
	opacity: .3
}

.gvmp-price {
	color: #1dff1d;
	font-weight: 700
}

.gvmp-left,
.gvmp-right {
	position: absolute;
	width: 35rem;
	height: 100%;
	padding: 5rem
}

.gvmp-right {
	right: 0;
	animation: slide-in-right .5s;
	background: linear-gradient(-90deg, rgba(0, 0, 0, .900718) 10%, transparent)
}

.gvmp-left {
	left: 0;
	animation: slide-in-left .5s;
	background: linear-gradient(90deg, rgba(0, 0, 0, .900718) 10%, transparent)
}

.gvmp-rounded {
	border-radius: .25rem
}

.gvmp-text-left {
	text-align: left!important
}

.gvmp-float-left {
	float: left
}

.gvmp-float-right {
	float: right
}

.gvmp-d-flex {
	display: -ms-flexbox!important;
	-js-display: flex;
	display: none;
	display: flex;
	flex-wrap: wrap
}

.gvmp-justify-between {
	justify-content: space-between
}

.gvmp-align-items-center {
	align-items: center
}

.gvmp-justify-end {
	justify-content: flex-end
}

.gvmp-align-items-end {
	align-items: flex-end
}

.gvmp-input {
	width: 100%;
	line-height: 1.5;
	padding: 15px 10px;
	border: 1px solid var(--borderFormEls);
	color: var(--white);
	background: var(--bgFormEls);
	transition: background-color .3s cubic-bezier(.57, .21, .69, 1.25), transform .3s cubic-bezier(.57, .21, .69, 1.25);
	font-size: 1rem!important
}

.gvmp-input::-webkit-input-placeholder {
	color: #ccc
}

.gvmp-bg-black {
	color: #fff;
	box-shadow: inset 0 0 0 .02rem hsla(0, 0%, 43.9%, .8);
	background: rgba(0, 0, 0, .5)
}

.gvmp-bg-black.active,
.gvmp-bg-black.hoverable:hover {
	background-color: rgba(0, 0, 0, .9);
	cursor: pointer
}

.gvmp-bg-red {
	color: red;
	box-shadow: inset 0 0 0 .02rem hsla(0, 0%, 43.9%, .8);
	background: rgba(100, 2, 2, .5)
}

@keyframes slide-in-right {
	0% {
		right: -250vh
	}
	to {
		right: 0
	}
}

@keyframes slide-in-left {
	0% {
		left: -250vh
	}
	to {
		left: 0
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

::-webkit-scrollbar {
	width: .6rem;
	background-color: #f5f5f5
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #f5f5f5
}

::-webkit-scrollbar-thumb {
	background-color: #ff9800;
	border: 2px solid #ff9800
}

/*CIRCLE_MENU END*/

/*SMARTPHONE START*/

/*#handy {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    width: 300px;
    display: none;
    &.visible {
        display: inline-block;
    }
    &.marvel-device {
        width: 232px;
        height: 500px;
        .notch {
            left: 70px;
            width: 140px;
            .camera {
                left: 110px;
            }
        }
        .screen {
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        }
    }
}*/

#handy {
  /*display: none;
  position: absolute;
  bottom: 1vw;
  right: 1vw;*/
  display: block;
  font-size: 1.1vh;
  margin-bottom: 1vw;
  /*&.visible {
      display: block;
  }*/
  .md-screen {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    display: flex;
    flex-direction: column;
    .bar {
      display: grid;
      grid-auto-flow: column dense;
      grid-template-columns: 1fr;
      grid-gap: 0.25vw;
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      .battery {
        width: 10px;
        background-color: #FFF;
        justify-self: right;
        grid-column: 1;
        grid-row: 1;
        margin: 3px 0;
      }
      .clock {
        grid-row: 1;
        grid-column: 2;
        font-size: 1vw;
        color: #FFF;
        font-size: 16px;
        margin-right: 3px;
      }
    }
    #phoneContent {
      height: 310px;
    }
    /*.toolbar {
        padding-top: 25px;
        background-color: $grey-500;
        h1 {
            color: #FFF;
            margin: 0;
            font-size: 20px;
            padding: 12px;
            font-weight: 400;
        }
    }
    #phoneContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        h6 {
            flex: 1;
        }
    }*/
  }
}

.device {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  width: 300px;
  display: none;
  &.visible {
    display: block;
  }
  //animation: HandyVisible 0.6s;
  //animation-timing-function: ease-out;
  /*#apps.current,
  app.current {
      overflow-y: scroll;
  }*/
  overflow-y: hidden;
  #apps {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vh 0;
    padding: 2vh 0 2vh 0;
    height: 424px;
    item {
      justify-self: center;
      h4 {
        text-align: center;
        color: #FFF;
        margin: 1vh 0 1vh 0;
        text-shadow: 0px 0px 1px #000;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60px;
        transition: box-shadow 0.3s linear;
        /*border: 0px solid #FFF;*/
        /*Make border always 5px and rgba transparent before*/
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px white;
      }
      &.active {
        img {
          /*border: 5px solid #FFF;*/
          border-radius: 50%;
          box-shadow: 0px 0px 5px 5px white;
        }
      }
    }
    &.current {
      display: grid;
    }
  }
  #contacts .toolbar {
    background-color: #2196F3;
  }
  #messenger,
  #chat {
    .toolbar {
      background-color: #3F51B5;
    }
  }
  #phone {
    .toolbar {
      background-color: $blue-500;
    }
    .content {
      height: calc(410px - 4vh);
      /*449py - 4vh*/
    }
    background-color: $blue-500;
  }
  #chat items {
    item.own,
    item.received {
      border-radius: 25px;
      border: 2px solid #FFF;
      background-color: #3F51B5;
      &.active {
        background-color: #303F9F;
      }
      h4 {
        color: #FFF;
      }
      p {
        color: #FFF;
      }
      &.own {
        background-color: #9E9E9E;
        &.active {
          background-color: #616161;
        }
      }
    }
    item {
      &.active {
        input {
          color: #FFF;
          &::-webkit-input-placeholder {
            color: #FFF;
          }
        }
      }
      input {
        width: 100%;
        display: block;
        padding: 0;
        border: 0;
        background-color: inherit;
        &::-webkit-input-placeholder {
          color: #212121;
          font-size: 14px;
        }
      }
    }
  }
  app {
    margin-top: -25px;
    display: none;
    background-color: #FFF;
    transition: transform 0.3s linear;
    .toolbar {
      padding-top: 25px;
      h1 {
        color: #FFF;
        margin: 0;
        font-size: 20px;
        padding: 12px;
        font-weight: 400;
      }
    }
    items {
      item {
        display: block;
        background-color: #FFF;
        padding: 12px;
        h4 {
          font-size: 14px;
          margin: 0;
          font-weight: normal;
          color: #212121;
        }
        p {
          margin: 4px 0 1px 0;
          font-size: 10px;
          font-weight: normal;
          color: #757575;
        }
        &.active {
          h4,
          p {
            color: #FFF;
          }
          background-color: #9E9E9E;
        }
      }
    }
    &.current {
      display: block;
      height: calc(410px + 4vh);
      /*449px + 4vh*/
      animation: AppVisible 0.2s;
      animation-timing-function: ease-in;
    }
  }
  .sub {
    display: block;
    text-align: center;
    position: relative;
    height: 0;
    .bot {
      border-radius: 100%;
      width: 33px;
      height: 33px;
      display: block;
      margin: 0 auto;
      background-color: transparent;
      z-index: 2;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
      transform: translate(0, -49.5px);
    }
  }
  .main {
    display: block;
    position: relative;
    border-radius: 15px;
    border: 17.7px solid #1d2d2d;
    border-top: 66px solid #1d2d2d;
    border-bottom: 66px solid #1d2d2d;
    /*66px*/
    border-radius: 30px;
    background-size: cover;
    &:after {
      content: '';
      position: absolute;
      top: -39px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 9px;
      height: 9px;
      background-color: #959595;
      border-radius: 100%;
      transform: translate(-54px, 0);
    }
    &:before {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%;
      opacity: 1;
      width: 69px;
      height: 3px;
      transform: translate(-27px, -22.5px);
      border-radius: 3px;
      background-color: #959595;
    }
    .bar {
      display: grid;
      grid-auto-flow: column dense;
      grid-template-columns: 1fr;
      grid-gap: 0.25vw;
      background-color: rgba(0, 0, 0, 0.1);
      position: sticky;
      top: 0;
      z-index: 1;
      .battery {
        width: 10px;
        background-color: #FFF;
        justify-self: right;
        grid-column: 1;
        grid-row: 1;
        margin: 3px 0;
      }
      .clock {
        grid-row: 1;
        grid-column: 2;
        font-size: 1vw;
        color: #FFF;
        font-size: 16px;
        margin-right: 3px;
      }
    }
  }
}

@keyframes HandyVisible {
  0% {
    transform: translateY(100vh)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes AppVisible {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.panel.move-right,
#notifications.move-right {
  /*right: calc(300px + 2vw);*/
  right: calc(22.8125em + 2vw);
  font-size: 1.1vh;
}

/*SMARTPHONE END*/

/*NOTIFICATION START*/

#notifications {
  position: absolute;
  bottom: 7vh;
  right: 1vw;
  width: 25%;
  .notification {
    background-color: rgba(0, 0, 0, 0.85);
    margin-top: 15px;
    animation: AppVisible 0.2s;
    animation-timing-function: ease-in;
    color: #ccc;
    #headline {
      font-size: 1.5em;
      font-weight: bold;
      padding-bottom: 10px;
      padding: 8px 0;
      text-align: center;
      background-image: linear-gradient(to right, #0b3c7e 0%, #2a6ac2 50%)
    }
    &.red {
      background-color: red;
    }
    &.green {
      background-color: green;
    }
    #content {
      padding: 10px;
    }
  }
}

.perso {
  display: none;
  position: relative;
  margin-bottom: 1vw;
  &.visible {
    display: flex;
  }
  img {
    margin-top: 10px;
    margin-left: 10px;
  }
  .inner {
    .top-right {
      top: 1.14rem;
      margin-right: 10px;
    }
  }
}

#map-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: initial;
  margin-left: initial;
  margin-right: initial;
  width: 80vw;
  height: 80vh;
  display: none;
  &.visible {
    display: block;
  }
  #map {
    width: 100%;
    height: calc(100% - 4vw);
  }
}

/*NOTIFICATION END*/