body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

#wrapper {
  width: 100%;
  margin-top: 20vh;
  background-size: 100%;
  }
  .zero {color: #fff; border: 0.063em solid #fff; border-radius: 50%; width: 3.125em; height: 3.125em; line-height: 3.125em; margin: auto 0.4em; }
  .roulett_box_out{background: #244b1f;padding: 0.625em;margin: 0 auto;width: 66.000em;}
  .number_alone {float: left;     height: 15.605em; width:4.375em;border: 0.063em solid #7c9841;writing-mode: vertical-rl;transform:rotate(180deg); text-align: center; line-height: 3.750em}
  .roulett_box {width: 55%;}
  .number_alone {}
  .flex-grid {display: flex;width: 80%;}
  .fixwidth {width: 7.87em !important}
  .under_box{margin-left: 4.500em}
  .col {
    color: #fff;
    font-weight: 800;
    margin: 0.625em;
    width: 3.125em;
    height: 3.750em;
    text-align: center;
    line-height: 3.125em;
    background: red;
    border-radius: 100%;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
    border: 0.063em solid #000;
  }

  .colTEXT {
    color: #fff;
    font-weight: 800;
    margin: 0.625em;
    width: 3.125em;
    height: 3.750em;
    text-align: center;
    line-height: 3.125em;
    border-radius: 100%;
    writing-mode: vertical-rl;
    transform:rotate(180deg);

  }

 .flex-grid2 {     width: 48.8%;display: flex;}
  .col2 {
    color: #fff;
    font-weight: 800;
    margin: 0.625em;
    width: 17.125em;
    height: 1.875em;
    text-align: center;
    line-height: 1.875em;
  }
.number_box2 {border: 0.063em solid #7c9841;}
.black {background: #000;}
.red {background: red;}
.number_box {border: 0.063em solid #7c9841;}
